.container {
  /* width: 1970px;
  /* max-width: 100%; */
  /* margin: auto;
  text-align: center; */
  max-width: 1200px; /* или 1000px, как тебе нравится */
  margin: 0 auto; /* вот это центрирует */
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
}

h2 {
  color: white;
}